.web-series-seasons {
  display: flex;
  flex-wrap: wrap;
}
.watch-movie-poster img {
  width: 100%;
  height: 60vh;
}
.web-series {
  padding: 1% 2%;
  padding-bottom: 3%;
}
.web-series-seasons-card {
  padding-top: 2%;
  display: flex;
  flex-wrap: wrap;
}
.season-button {
  padding: 7px 17.5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  background-color: #1c212e;
  color: #24baef;
  border: none;
  margin-left: 5px;
  margin-top: 10px;
}
.season-button:hover {
  color: #1c212e;
  background-color: #24baef;
}

@media screen and (max-width: 500px) {
  .web-series-seasons-card {
    justify-content: center;
  }
}
