.add-movie-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  width: 100%;
  padding-bottom: 50px;
}
.add-movie-main h1 {
  text-align: center;
}
.movie-container {
  width: 50%;
}
.movie-common {
  margin-top: 10px;
  width: 100%;
}
.input-movie {
  background-color: whitesmoke;
  cursor: pointer;
  padding: 15px 5px;
  border-radius: 5px;
  width: 100%;
}
.select-web {
  padding: 10px 0px;
}
