@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Slab:wght@300&family=Roboto:wght@300&family=Slabo+27px&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Merriweather", serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
  font-family: "Slabo 27px", serif;
  background-color: #131722;
}
